
<h1>{{place}}</h1>
<div class="col-md-5">
  <table class="table table-bordered">
    <tr>
      <td>
        {{address}}
      </td>
       <td>
        {{phoneNumber}}
      </td>
       <td>
        {{description}}
      </td>
      <td>
        {{image}}
      </td>
       <td>
        {{category}}
      </td>
    </tr>
  </table>
</div>